# DataProcessing 경제지표

In [50]:
import pandas as pd
import numpy as np
df_factor = pd.read_csv("ECOS_240429.csv")

df_factor.drop(df_factor.columns[:6], axis=1, inplace=True)
df_factor = df_factor.transpose()
df_add = ['INF', 'M1', 'M2', 'BR', 'DY', 'CD', 'CP', 'T1', 'T3', 'T5', 'T10', 'AAA', 'BBB', 'UR', 'USDKRW', 'CIL', 'CIC', 'EAI']
df_factor.columns = df_add
df_factor

,INF,M1,M2,BR,DY,CD,CP,T1,T3,T5,T10,AAA,BBB,UR,USDKRW,CIL,CIC,EAI
2001/01,64.604,"196,612.7","709,324.5",5.25,NaN,6.43,6.97,6.040,5.990,6.200,6.650,7.760,11.650,4.4,"1,265.50",96.9,100.3,28.48
2001/02,64.919,"199,562.1","716,902.9",5.00,NaN,5.73,6.29,5.510,5.430,5.760,6.410,6.790,11.640,4.6,"1,245.70",96.6,99.9,30.24
2001/03,65.488,"204,767.6","717,361.7",5.00,NaN,5.68,6.14,5.810,5.840,6.400,7.000,7.160,12.060,4.6,"1,328.00",96.7,99.8,32.60
2001/04,65.74,"204,280.8","718,233.7",5.00,NaN,5.84,6.14,6.200,6.590,7.240,7.740,7.910,12.620,4.1,"1,324.70",96.8,99.6,28.45
2001/05,65.677,"206,315.6","725,067.5",5.00,NaN,5.85,6.13,6.100,6.460,7.050,7.580,7.700,12.240,3.9,"1,292.90",97.2,99.8,30.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,112.67,"1,198,966.9","3,890,972.4",3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,10.978,2.8,"1,289.00",100.1,99.7,133.15
2023/12,112.71,"1,217,748.8","3,914,316.8",3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,10.529,3.2,"1,289.40",100.3,99.6,132.78
2024/01,113.15,"1,221,110.0","3,924,203.2",3.50,1.93,3.74,4.28,3.384,3.266,3.302,3.353,4.013,10.453,3.0,"1,330.60",100.3,99.7,128.33
2024/02,113.77,"1,217,657.2","3,929,857.9",3.50,1.83,3.69,4.28,3.434,3.351,3.388,3.429,4.053,10.440,2.6,"1,334.00",100.4,99.9,124.24
2024/03,113.94,NaN,NaN,3.50,1.76,3.65,4.27,3.374,3.310,3.342,3.390,3.944,10.210,2.8,"1,346.80",NaN,NaN,NaN

In [51]:
df_ppi = pd.read_csv("전산업생산지수(농림어업제외)_08102055.csv")
                     
df_ppi.drop(df_ppi.columns[:5], axis=1, inplace=True)
df_ppi = pd.DataFrame(df_ppi.transpose()[1]).rename(columns={1: 'PPI'})
df_ppi

           PPI
2001/01   54.7
2001/02   55.0
2001/03   55.1
2001/04   56.0
2001/05   56.8
...        ...
2023/11  113.0
2023/12  113.4
2024/01  113.7
2024/02  115.0
2024/03  112.6

[279 rows x 1 columns]

In [52]:
df_factor = pd.concat([df_factor, df_ppi], axis=1)
for column in df_factor.columns:
    if df_factor[column].dtype == 'object':
        df_factor[column] = df_factor[column].str.replace(",", "").astype(float)
df_factor

,INF,M1,M2,BR,DY,CD,CP,T1,T3,T5,T10,AAA,BBB,UR,USDKRW,CIL,CIC,EAI,PPI
2001/01,64.604,196612.7,709324.5,5.25,NaN,6.43,6.97,6.040,5.990,6.200,6.650,7.760,11.650,4.4,1265.5,96.9,100.3,28.48,54.7
2001/02,64.919,199562.1,716902.9,5.00,NaN,5.73,6.29,5.510,5.430,5.760,6.410,6.790,11.640,4.6,1245.7,96.6,99.9,30.24,55.0
2001/03,65.488,204767.6,717361.7,5.00,NaN,5.68,6.14,5.810,5.840,6.400,7.000,7.160,12.060,4.6,1328.0,96.7,99.8,32.60,55.1
2001/04,65.740,204280.8,718233.7,5.00,NaN,5.84,6.14,6.200,6.590,7.240,7.740,7.910,12.620,4.1,1324.7,96.8,99.6,28.45,56.0
2001/05,65.677,206315.6,725067.5,5.00,NaN,5.85,6.13,6.100,6.460,7.050,7.580,7.700,12.240,3.9,1292.9,97.2,99.8,30.14,56.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,112.670,1198966.9,3890972.4,3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,10.978,2.8,1289.0,100.1,99.7,133.15,113.0
2023/12,112.710,1217748.8,3914316.8,3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,10.529,3.2,1289.4,100.3,99.6,132.78,113.4
2024/01,113.150,1221110.0,3924203.2,3.50,1.93,3.74,4.28,3.384,3.266,3.302,3.353,4.013,10.453,3.0,1330.6,100.3,99.7,128.33,113.7
2024/02,113.770,1217657.2,3929857.9,3.50,1.83,3.69,4.28,3.434,3.351,3.388,3.429,4.053,10.440,2.6,1334.0,100.4,99.9,124.24,115.0
2024/03,113.940,NaN,NaN,3.50,1.76,3.65,4.27,3.374,3.310,3.342,3.390,3.944,10.210,2.8,1346.8,NaN,NaN,NaN,112.6

In [53]:
df_factor['INF'] = df_factor['INF'].pct_change(periods=12, fill_method=None) * 100
df_factor['M1Y'] = df_factor['M1'].pct_change(periods=12, fill_method=None) * 100
df_factor['M2Y'] = df_factor['M2'].pct_change(periods=12, fill_method=None) * 100
df_factor['PPI'] = df_factor['PPI'].pct_change(periods=12, fill_method=None) * 100
df_factor['EAI'] = df_factor['EAI'].pct_change(periods=12, fill_method=None)

df_factor['M1M'] = df_factor['M1'].pct_change(fill_method=None) * 100
df_factor['M2M'] = df_factor['M2'].pct_change(fill_method=None) * 100
df_factor['UR'] = df_factor['UR'].pct_change(fill_method=None) * 100
df_factor['USDKRW'] = df_factor['USDKRW'].pct_change(fill_method=None) * 100

df_factor['CIL'] = df_factor['CIL'].diff()
df_factor['CIC'] = df_factor['CIC'].diff()
df_factor = df_factor.drop(columns=['M1', 'M2'])

df_factor

,INF,BR,DY,CD,CP,T1,T3,T5,T10,AAA,...,UR,USDKRW,CIL,CIC,EAI,PPI,M1Y,M2Y,M1M,M2M
2001/01,NaN,5.25,NaN,6.43,6.97,6.040,5.990,6.200,6.650,7.760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001/02,NaN,5.00,NaN,5.73,6.29,5.510,5.430,5.760,6.410,6.790,...,4.545455,-1.564599,-0.3,-0.4,NaN,NaN,NaN,NaN,1.500107,1.068397
2001/03,NaN,5.00,NaN,5.68,6.14,5.810,5.840,6.400,7.000,7.160,...,0.000000,6.606727,0.1,-0.1,NaN,NaN,NaN,NaN,2.608461,0.063998
2001/04,NaN,5.00,NaN,5.84,6.14,6.200,6.590,7.240,7.740,7.910,...,-10.869565,-0.248494,0.1,-0.2,NaN,NaN,NaN,NaN,-0.237733,0.121557
2001/05,NaN,5.00,NaN,5.85,6.13,6.100,6.460,7.050,7.580,7.700,...,-4.878049,-2.400544,0.4,0.2,NaN,NaN,NaN,NaN,0.996080,0.951473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,3.300633,3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,...,12.000000,-4.716144,0.2,-0.1,0.071285,1.893598,-4.970670,2.345792,0.361806,0.863100
2023/12,3.157606,3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,...,14.285714,0.031032,0.2,-0.1,0.032424,3.090909,-1.164270,2.984220,1.566507,0.599963
2024/01,2.798219,3.50,1.93,3.74,4.28,3.384,3.266,3.302,3.353,4.013,...,-6.250000,3.195285,0.0,0.1,0.158631,4.407713,1.247034,3.150797,0.276018,0.252570
2024/02,3.117919,3.50,1.83,3.69,4.28,3.434,3.351,3.388,3.429,4.053,...,-13.333333,0.255524,0.1,0.2,0.037322,3.697024,1.627923,3.026274,-0.282759,0.144098
2024/03,3.094463,3.50,1.76,3.65,4.27,3.374,3.310,3.342,3.390,3.944,...,7.692308,0.959520,NaN,NaN,NaN,1.077199,NaN,NaN,NaN,NaN

In [54]:
df_factor['DFTP'] = df_factor['AAA'] - df_factor['T10']
df_factor['TE1'] = df_factor['T10'] - df_factor['BR']
df_factor['TE2'] = df_factor['T10'] - df_factor['T1']
df_factor['TE3'] = df_factor['T10'] - df_factor['T3']
df_factor['TE4'] = df_factor['T10'] - df_factor['T5']
df_factor['TE5'] = df_factor['CD'] - df_factor['BR']
df_factor['TE6'] = df_factor['BR'] - df_factor['T1']
df_factor['DE1'] = df_factor['BBB'] - df_factor['AAA']
df_factor['DE2'] = df_factor['BBB'] - df_factor['T10']
df_factor['DE3'] = df_factor['BBB'] - df_factor['T5']
df_factor['DE4'] = df_factor['BBB'] - df_factor['T3']
df_factor['DE5'] = df_factor['BBB'] - df_factor['T1']
df_factor['DE6'] = df_factor['BBB'] - df_factor['BR']

df_factor

,INF,BR,DY,CD,CP,T1,T3,T5,T10,AAA,...,TE3,TE4,TE5,TE6,DE1,DE2,DE3,DE4,DE5,DE6
2001/01,NaN,5.25,NaN,6.43,6.97,6.040,5.990,6.200,6.650,7.760,...,0.660,0.450,1.18,-0.790,3.890,5.000,5.450,5.660,5.610,6.400
2001/02,NaN,5.00,NaN,5.73,6.29,5.510,5.430,5.760,6.410,6.790,...,0.980,0.650,0.73,-0.510,4.850,5.230,5.880,6.210,6.130,6.640
2001/03,NaN,5.00,NaN,5.68,6.14,5.810,5.840,6.400,7.000,7.160,...,1.160,0.600,0.68,-0.810,4.900,5.060,5.660,6.220,6.250,7.060
2001/04,NaN,5.00,NaN,5.84,6.14,6.200,6.590,7.240,7.740,7.910,...,1.150,0.500,0.84,-1.200,4.710,4.880,5.380,6.030,6.420,7.620
2001/05,NaN,5.00,NaN,5.85,6.13,6.100,6.460,7.050,7.580,7.700,...,1.120,0.530,0.85,-1.100,4.540,4.660,5.190,5.780,6.140,7.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,3.300633,3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,...,0.119,0.072,0.33,-0.222,6.395,7.088,7.160,7.207,7.256,7.478
2023/12,3.157606,3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,...,0.065,0.044,0.33,-0.016,6.453,7.114,7.158,7.179,7.013,7.029
2024/01,2.798219,3.50,1.93,3.74,4.28,3.384,3.266,3.302,3.353,4.013,...,0.087,0.051,0.24,0.116,6.440,7.100,7.151,7.187,7.069,6.953
2024/02,3.117919,3.50,1.83,3.69,4.28,3.434,3.351,3.388,3.429,4.053,...,0.078,0.041,0.19,0.066,6.387,7.011,7.052,7.089,7.006,6.940
2024/03,3.094463,3.50,1.76,3.65,4.27,3.374,3.310,3.342,3.390,3.944,...,0.080,0.048,0.15,0.126,6.266,6.820,6.868,6.900,6.836,6.710

In [55]:
df_factor[['UR', 'PPI', 'CIL', 'CIC', 'EAI']] = df_factor[['UR', 'PPI', 'CIL', 'CIC', 'EAI']].shift(1)
df_factor[['M1M', 'M1Y', 'M2M', 'M2Y']] = df_factor[['M1M', 'M1Y', 'M2M', 'M2Y']].shift(2)
df_factor

,INF,BR,DY,CD,CP,T1,T3,T5,T10,AAA,...,TE3,TE4,TE5,TE6,DE1,DE2,DE3,DE4,DE5,DE6
2001/01,NaN,5.25,NaN,6.43,6.97,6.040,5.990,6.200,6.650,7.760,...,0.660,0.450,1.18,-0.790,3.890,5.000,5.450,5.660,5.610,6.400
2001/02,NaN,5.00,NaN,5.73,6.29,5.510,5.430,5.760,6.410,6.790,...,0.980,0.650,0.73,-0.510,4.850,5.230,5.880,6.210,6.130,6.640
2001/03,NaN,5.00,NaN,5.68,6.14,5.810,5.840,6.400,7.000,7.160,...,1.160,0.600,0.68,-0.810,4.900,5.060,5.660,6.220,6.250,7.060
2001/04,NaN,5.00,NaN,5.84,6.14,6.200,6.590,7.240,7.740,7.910,...,1.150,0.500,0.84,-1.200,4.710,4.880,5.380,6.030,6.420,7.620
2001/05,NaN,5.00,NaN,5.85,6.13,6.100,6.460,7.050,7.580,7.700,...,1.120,0.530,0.85,-1.100,4.540,4.660,5.190,5.780,6.140,7.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/11,3.300633,3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,...,0.119,0.072,0.33,-0.222,6.395,7.088,7.160,7.207,7.256,7.478
2023/12,3.157606,3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,...,0.065,0.044,0.33,-0.016,6.453,7.114,7.158,7.179,7.013,7.029
2024/01,2.798219,3.50,1.93,3.74,4.28,3.384,3.266,3.302,3.353,4.013,...,0.087,0.051,0.24,0.116,6.440,7.100,7.151,7.187,7.069,6.953
2024/02,3.117919,3.50,1.83,3.69,4.28,3.434,3.351,3.388,3.429,4.053,...,0.078,0.041,0.19,0.066,6.387,7.011,7.052,7.089,7.006,6.940
2024/03,3.094463,3.50,1.76,3.65,4.27,3.374,3.310,3.342,3.390,3.944,...,0.080,0.048,0.15,0.126,6.266,6.820,6.868,6.900,6.836,6.710

In [56]:
df_KOSPI = pd.read_csv("Kospi200_indices_240429.csv")

df_KOSPI['date'] = pd.to_datetime(df_KOSPI['date'])
df_KOSPI.set_index('date', inplace=True)
df_KOSPI = df_KOSPI.resample('M').last()[['kospi200']] #ME --> M
df_KOSPI.index = df_KOSPI.index.strftime('%Y/%m')
df_KOSPI

         kospi200
date
2000/01    119.08
2000/02    103.17
2000/03    108.03
2000/04     91.21
2000/05     92.74
...           ...
2023/12    357.99
2024/01    336.24
2024/02    355.57
2024/03    374.63
2024/04    361.02

[292 rows x 1 columns]

In [57]:
# df_KOSPI.rename(columns = {'KOSPI200' : 'kospi200'}, inplace = True)

df_KOSPI['div'] = (df_factor['DY'] * 0.01) * df_KOSPI['kospi200']
df_KOSPI['R(t)'] = (df_KOSPI['kospi200'] - df_KOSPI['kospi200'].shift(1) + df_KOSPI['div']) / df_KOSPI['kospi200'].shift(1)
df_KOSPI['l1(t)'] = df_factor['T1']/12 * 0.01
df_KOSPI

         kospi200       div      R(t)     l1(t)
date
2000/01    119.08       NaN       NaN       NaN
2000/02    103.17       NaN       NaN       NaN
2000/03    108.03       NaN       NaN       NaN
2000/04     91.21       NaN       NaN       NaN
2000/05     92.74       NaN       NaN       NaN
...           ...       ...       ...       ...
2023/12    357.99  6.551217  0.077154  0.002930
2024/01    336.24  6.489432 -0.042628  0.002820
2024/02    355.57  6.506931  0.076841  0.002862
2024/03    374.63  6.593488  0.072148  0.002812
2024/04    361.02       NaN       NaN       NaN

[292 rows x 4 columns]

In [58]:
df_KOSPI['p(t)'] = df_KOSPI['R(t)'] - df_KOSPI['l1(t)'].shift(1)
df_KOSPI = df_KOSPI.drop(columns = ['kospi200', 'div', 'R(t)', 'l1(t)'])
df_KOSPI.index = pd.to_datetime(df_KOSPI.index, format='%Y/%m')
df_KOSPI = df_KOSPI.loc['2004-01':'2023-12']
df_KOSPI.index = df_KOSPI.index.to_period('M').strftime('%Y-%m')
df_KOSPI

             p(t)
date
2004-01  0.071070
2004-02  0.062330
2004-03  0.015144
2004-04 -0.012991
2004-05 -0.054786
...           ...
2023-08 -0.015636
2023-09 -0.007412
2023-10 -0.047543
2023-11  0.125942
2023-12  0.074052

[240 rows x 1 columns]

In [59]:
df_KOSPI.isnull().sum()

p(t)    0
dtype: int64

In [60]:
#  df_KOSPI.dropna(inplace=True) #새로 추가 한 부분

In [61]:
df_factor.index = pd.to_datetime(df_factor.index, format='%Y/%m')
df_factor = df_factor.loc['2004-01':'2023-12']
df_factor.index = df_factor.index.to_period('M').strftime('%Y-%m')
df_factor

,INF,BR,DY,CD,CP,T1,T3,T5,T10,AAA,...,TE3,TE4,TE5,TE6,DE1,DE2,DE3,DE4,DE5,DE6
2004-01,3.395075,3.75,1.99,4.26,4.53,4.600,4.880,5.160,5.420,5.670,...,0.540,0.260,0.51,-0.850,4.320,4.570,4.830,5.110,5.390,6.240
2004-02,3.285510,3.75,1.99,4.08,4.36,4.420,4.830,5.130,5.430,5.630,...,0.600,0.300,0.33,-0.670,4.400,4.600,4.900,5.200,5.610,6.280
2004-03,3.065654,3.75,1.83,3.93,4.17,4.250,4.580,4.880,5.260,5.370,...,0.680,0.380,0.18,-0.500,4.480,4.590,4.970,5.270,5.600,6.100
2004-04,3.251416,3.75,2.21,3.91,4.14,4.130,4.540,4.880,5.250,5.290,...,0.710,0.370,0.16,-0.380,4.470,4.510,4.880,5.220,5.630,6.010
2004-05,3.349001,3.75,2.39,3.90,4.09,4.070,4.390,4.750,5.160,5.070,...,0.770,0.410,0.15,-0.320,4.470,4.380,4.790,5.150,5.470,5.790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,3.360029,3.50,1.94,3.70,4.03,3.496,3.727,3.771,3.860,4.500,...,0.133,0.089,0.20,0.004,6.410,7.050,7.139,7.183,7.414,7.410
2023-09,3.684984,3.50,2.00,3.76,4.05,3.610,3.842,3.881,3.949,4.602,...,0.107,0.068,0.26,-0.110,6.420,7.073,7.141,7.180,7.412,7.522
2023-10,3.755955,3.50,2.16,3.82,4.21,3.741,4.031,4.142,4.272,4.827,...,0.241,0.130,0.32,-0.241,6.395,6.950,7.080,7.191,7.481,7.722
2023-11,3.300633,3.50,1.94,3.83,4.36,3.722,3.771,3.818,3.890,4.583,...,0.119,0.072,0.33,-0.222,6.395,7.088,7.160,7.207,7.256,7.478
2023-12,3.157606,3.50,1.83,3.83,4.34,3.516,3.350,3.371,3.415,4.076,...,0.065,0.044,0.33,-0.016,6.453,7.114,7.158,7.179,7.013,7.029

In [62]:
df_KOSPI.to_csv("df_KOSPI.csv")
df_factor.to_csv("df_factor.csv")

# DataProcessing 섹터별지수 및 개별주식

In [78]:
# KOSPI200 섹터별 지수 전처리
df_sector = pd.read_csv('Kospi200_indices_240429.csv')
del df_sector['kospi200'] # 'kospi200' 칼럼 삭제
df_sector['date'] = pd.to_datetime(df_sector['date']) # 'date' 칼럼을 datetime 형식으로 변환
df_sector.set_index('date', inplace=True) # 'date' 칼럼을 인덱스로 설정
df_sector = df_sector.resample('M').last() #ME --> M # 월별 데이터로 리샘플링, 월말 값 사용
df_sector.index = df_sector.index.strftime('%Y-%m') # 인덱스를 'YYYY/MM' 형식의 문자열로 변환

for column in df_sector.columns:
    df_sector[column] = df_sector[column].pct_change(fill_method=None) * 100

df_sector = df_sector.loc['2010-08':'2023-12'] # 필요한 기간의 데이터만 선택
df_sector.columns = ['K_COM', 'K_CON', 'K_HV', 'K_MAT', 'K_ENG', 'K_IT', 'K_FIN', 'K_GOO', 'K_DIS', 'K_IND', 'K_HL'] # 칼럼명 변경
df_sector

,K_COM,K_CON,K_HV,K_MAT,K_ENG,K_IT,K_FIN,K_GOO,K_DIS,K_IND,K_HL
date,,,,,,,,,,,
2010-08,3.769020,1.008922,2.261856,3.293048,9.182252,-3.143340,-5.364339,-0.080515,-0.065942,1.349036,8.612430
2010-09,3.087502,14.852223,20.193361,11.493339,6.291353,2.995269,2.605205,4.998341,14.255730,13.384088,4.224523
2010-10,-0.113074,7.552895,3.959666,-6.289037,2.619079,-0.792122,-0.999323,-3.565221,6.494105,-4.337258,-8.397063
2010-11,0.534617,-1.051488,-0.993612,1.697290,5.466637,3.437733,2.307585,-1.089564,2.648659,2.251635,-3.687863
2010-12,0.456077,10.080805,12.518097,7.762252,7.001132,6.794362,13.961549,4.202755,3.298599,1.509451,8.555460
...,...,...,...,...,...,...,...,...,...,...,...
2023-08,-3.163497,-7.647904,-3.221083,-4.336248,-9.607737,-3.610401,2.703634,6.746299,0.291882,-2.989309,1.346091
2023-09,-3.639368,-7.320792,-8.834018,-4.274170,-6.696361,-4.445844,1.363382,-1.561149,0.281043,-5.607873,-0.832825
2023-10,-5.061984,-7.829978,-18.307355,-11.970356,-9.466785,-4.157326,-5.462172,-4.434017,-10.051336,-13.627582,-6.777677
2023-11,14.648436,12.746288,17.872171,10.855551,13.253276,11.933652,7.674217,3.296660,8.730674,15.949323,9.561469
2023-12,1.458547,-1.291671,3.012771,0.418075,2.140023,3.726121,3.849431,2.400895,7.470105,8.932462,14.647646

In [82]:
file_path = ('kospi200_stocks.xlsx')
df = pd.read_excel(file_path, sheet_name=0, header=None) # 엑셀 파일 첫 번째 시트
data = df.iloc[14:].reset_index(drop=True) # 14번째 행부터 데이터프레임의 데이터를 가져오도록 설정
data.columns = df.iloc[8]  # 8번째 행을 컬럼명으로 설정
data = data.rename(columns={data.columns[0]: 'date'})  # 첫 번째 컬럼 이름을 'date'로 변경
data['date'] = pd.to_datetime(data['date'], errors='coerce')  # 날짜 형식 변환
data = data.set_index(data.columns[0]) # 첫 번째 열을 인덱스로 설정하고 해당 열 제거
data.index = pd.to_datetime(data.index, errors='coerce') # 인덱스를 datetime 형식으로 변환

data.columns.name = 'Code'  # 종목 코드에 이름 설정
data.index.name = 'date'    # 날짜 인덱스에 이름 설정

# 10년치 데이터 사용
df_stocks = data.loc['2010-01-01':'2023-12-31']
df_stock_daily = df_stocks.dropna(axis=1)
df_stock_daily.head()

Code,A005930,A000660,A005380,A068270,A000270,A105560,A005490,A055550,A035420,A051910,...,A001430,A114090,A005250,A093370,A003030,A001680,A016380,A000670,A105630,A008730
date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,15980,23150,121000,12845,20050,59700,618000,43200,60269,228500,...,16500,19650,8094,3663,30820,7950,1985495,569000,5314,9150
2010-01-02,15980,23150,121000,12845,20050,59700,618000,43200,60269,228500,...,16500,19650,8094,3663,30820,7950,1985495,569000,5314,9150
2010-01-03,15980,23150,121000,12845,20050,59700,618000,43200,60269,228500,...,16500,19650,8094,3663,30820,7950,1985495,569000,5314,9150
2010-01-04,16180,24100,119000,13359,20800,59400,612000,43600,60583,224000,...,16450,19750,8103,3639,29925,7820,1968597,569000,5562,8940
2010-01-05,16440,23350,110000,13530,19650,58700,618000,44600,60583,222500,...,16300,20750,8186,3615,30735,7760,1917903,550000,5967,8960

In [83]:
start_date = '2010-01-01'
end_date = '2023-12-31'
month_end = pd.date_range(start_date, end_date, freq='M')

df_stock = df_stock_daily[df_stock_daily.index.isin(month_end)] #.reset_index(drop=True)

# 인덱스를 object 타입으로 변환
df_stock.index = df_stock.index.astype(str)  # 인덱스를 문자열로 변환
df_stock.index = df_stock.index.str[:7]  # 인덱스에서 [7:] 해당하는 값 제거

df_stock = df_stock.pct_change(1).dropna()
df_stock = df_stock.loc['2010-08':'2023-12']
df_stock.head()

Code,A005930,A000660,A005380,A068270,A000270,A105560,A005490,A055550,A035420,A051910,...,A001430,A114090,A005250,A093370,A003030,A001680,A016380,A000670,A105630,A008730
date,,,,,,,,,,,,,,,,,,,,,
2010-08,-0.066667,-0.062222,-0.050336,0.072737,-0.003236,-0.056311,-0.011179,-0.053608,0.067939,0.048632,...,0.037736,-0.138593,0.073542,-0.040092,-0.017142,-0.184598,-0.047805,-0.001667,-0.168677,0.021111
2010-09,0.027778,0.049763,0.081272,0.082339,0.194805,0.008230,0.060637,-0.049020,-0.002545,-0.033333,...,0.290909,0.106436,0.251420,0.231445,0.127023,0.163889,0.055328,0.148581,0.031216,0.058760
2010-10,-0.041184,0.045147,0.111111,0.114060,0.220109,0.020408,-0.104651,-0.002291,0.017863,0.040480,...,0.033451,0.024609,0.030443,-0.078635,0.116025,-0.013126,-0.047573,-0.047965,0.064165,-0.038027
2010-11,0.108725,0.015119,0.014706,0.299221,0.090200,0.082000,-0.016234,0.026406,-0.017549,0.118156,...,0.141397,-0.117904,-0.004221,-0.199531,-0.040600,-0.044740,-0.006116,0.236641,-0.075321,-0.010684
2010-12,0.148910,0.021277,0.005797,0.035557,0.033708,0.109057,0.071507,0.183445,0.158163,0.007732,...,0.101493,0.022277,-0.012715,0.061804,0.071225,-0.022785,0.022564,0.058025,0.082972,-0.049676

In [85]:
df_sector.to_csv("df_sector.csv")
df_stock.to_csv("df_stock.csv")